:root {
  --hero-background: #344b47;
  --hero-textColor: #e6fffa;
  --hero-ctaColor: #1e786d;
  --topics-bg: #96b1ac;
  --default-lineHeight: 170%;
}

html {
  font-size: 62.6%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  background-color: var(--hero-ctaColor);
  width: 100%;
  padding: 0 10%;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
}
#nav-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-bar ul {
  list-style-type: none;
  display: none;
}

.hamburger {
  width: 15%;
}

.hamburger div {
  height: 8px;
  background-color: var(--hero-textColor);
}

.hamburger div:not(:first-of-type) {
  margin-top: 10px;
}

#header-img {
  display: block;
  width: 5.5rem;
  border: 1px solid var(--hero-textColor);
  border-radius: 5px;
}

main {
  /* height of header */
  margin-top: 10vh;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: var(--hero-background);
  align-items: center;
}

.hero-img {
  order: 1;
  margin-top: 56px;
}

.hero-img img {
  width: 100%;
  max-width: 18rem;
  padding: 1rem;
  border: 1px solid var(--hero-textColor);
}

.hero-text {
  order: 2;
  margin: 28px 10%;
  color: var(--hero-textColor);
}

.hero-text h1 {
  font-size: 1.85rem;
  text-align: center;
}

.hero-text p {
  font-size: 1.4rem;
  margin-top: 28px;
  line-height: var(--default-lineHeight);
}

.hero-btn-container {
  margin: 1.8rem 0;
}

.hero-btn-container a {
  text-align: center;
  width: 45%;
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  border: 1px solid var(--hero-textColor);
  color: var(--hero-textColor);
  padding: 10px;
  font-weight: bold;
}

.hero-btn-container a:first-of-type {
  color: var(--hero-ctaColor);
  background-color: var(--hero-textColor);
}

.hero-btn-container a:last-of-type {
  border: 1px solid var(--hero-ctaColor);
  background-color: var(--hero-ctaColor);
  color: var(--hero-textColor);
  margin-left: 1.4rem;
}

small {
  font-size: 10px;
}

small::before {
  content: '* ';
  vertical-align: baseline;
}

/* Book topics styles */

#book-topics {
  margin: 6rem 10%;
  color: var(--hero-background);
}

#book-topics > h2 {
  margin-bottom: 2.4rem;
  text-align: center;
}

.book-topics-text {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 1.4rem;
}

.book-topics-text p {
  line-height: var(--default-lineHeight);
  margin-top: 1.4rem;
}

.book-topics-text p span {
  font-weight: bold;
}

#book-topics img {
  max-width: 60%;
  padding: 10px;
  border: 1px solid var(--topics-bg);
  text-align: center;
}

#book-topics video {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 2.6rem;
}

/* Styles for Form */

.form {
  margin: 6rem 10%;
  color: var(--hero-background);
}

.form h2 {
  margin-bottom: 2.4rem;
}

.form p {
  font-size: 1.4rem;
  line-height: var(--default-lineHeight);
  margin-bottom: 2.6rem;
}

.form input {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.form input[type='email'] {
  border: none;
  border-bottom: 1px solid var(--hero-ctaColor);
  min-width: 246px;
  max-width: 90%;
  margin-bottom: 2.8rem;
  padding: 1rem;
  outline: none;
}

.form input[type='submit'] {
  padding: 10px;
  font-size: 1.4rem;
  border: none;
  outline: none;
  background-color: var(--hero-ctaColor);
  color: var(--hero-textColor);
  padding: 10px;
  font-weight: bold;
}

/* Testimonial styles */

#testimonials {
  margin: 6rem 10%;
  color: var(--hero-background);
}

#testimonials h2 {
  margin-bottom: 2.4rem;
}

.testimony {
  text-align: center;
  font-size: 1.4rem;
  line-height: var(--default-lineHeight);
  margin-bottom: 3.4rem;
}

span.reader {
  display: block;
  font-weight: bold;
}

.about-author {
  background-color: var(--hero-background);
  color: var(--hero-textColor);
  border: 0.1px solid transparent;
}

.author-info-container {
  margin: 6rem 10%;
  border: 1px solid transparent;
  text-align: center;
}

.author-info-container h2 {
  margin-top: 28px;
  margin-bottom: 36px;
}

.author-image img {
  display: block;
  margin: 0 auto;
  max-width: 180px;
  padding: 1rem;
  border: 1px solid var(--hero-textColor);
}

.author-text {
  margin: 3rem auto;
  font-size: 1.4rem;
  line-height: var(--default-lineHeight);
}

.bold {
  font-weight: bold;
}

footer {
  height: 12vh;
  background-color: var(--topics-bg);
}

.social-links {
  text-decoration: underline;
}

.social {
  display: inline-block;
  border: none;
  width: 28px;
  height: 28px;
  margin: 10px;
}

@media (min-width: 850px) {
  /* Navbar styles */
  .hero-btn-container a {
    max-width: 228px;
  }

  #nav-bar ul {
    display: flex;
  }

  #nav-bar ul li {
    display: inline-block;
    margin: 0 3rem;
  }
  #nav-bar ul a {
    text-decoration: none;
    font-size: clamp(16px, 1.8vw, 18px);
    font-weight: bold;
    color: var(--hero-textColor);
    text-transform: capitalize;
  }

  .hamburger {
    display: none;
  }

  small {
    font-size: 12px;
  }
}

@media (min-width: 900px) {
  h2 {
    font-size: 2.6rem;
  }

  /* Hero content styles */

  .hero {
    flex-direction: row-reverse;
    background-color: var(--hero-background);
    align-items: center;
    /* gap: 5%; */
    justify-content: center;
    padding: 10rem 12%;
  }

  .hero-img {
    width: 50%;
    margin: 0;
  }

  .hero-img img {
    width: 100%;
    max-width: 300px;
    display: block;
    /* margin: 0; */
    margin-left: auto;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin: 0;
    color: var(--hero-textColor);
  }

  .hero-text h1 {
    font-size: 3.2rem;
    text-align: center;
  }

  .hero-text p {
    font-size: 1.6rem;
    margin-top: 28px;
    line-height: 190%;
  }

  /* Book topics styles */

  #book-topics,
  #testimonials {
    margin: 13.5rem 15%;
  }

  .topics-container,
  .testimonial-container {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
    grid-auto-rows: auto;
  }

  .book-topics-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    line-height: 190%;
  }

  .video-container {
    margin: 6rem 15%;
    display: block;
  }

  .form {
    margin: 0 15%;
    text-align: center;
  }

  .form p {
    font-size: 1.6rem;
  }

  .testimony {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
  }

  .author-info-container {
    margin: 4.2rem 15%;
  }
  .author-info-content {
    display: flex;
    flex-direction: row-reverse;
    gap: 10%;
  }

  .author-info-content > div:first-of-type {
    width: 60%;
  }

  .author-text {
    font-size: 1.6rem;
  }
}

@media (min-width: 1200px) {
  .hero {
    padding-left: 17%;
    padding-right: 17%;
  }

  #testimonials,
  #book-topics,
  .video-container,
  .form {
    margin-left: 20%;
    margin-right: 20%;
  }
}
