:root {
  --hero-background: #344b47;
  --hero-textColor: #e6fffa;
  --hero-ctaColor: #1e786d;
  --topics-bg: #96b1ac;
  --default-lineHeight: 170%;
}

html {
  font-size: 62.6%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  background-color: var(--hero-ctaColor);
  width: 100%;
  padding: 0 10%;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.8rem;
}
#nav-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-bar ul {
  display: none;
}

.hamburger {
  width: 15%;
}

.hamburger div {
  height: 8px;
  background-color: var(--hero-textColor);
}

.hamburger div:not(:first-of-type) {
  margin-top: 10px;
}

#header-img {
  display: block;
  width: 5.5rem;
  border: 1px solid var(--hero-textColor);
  border-radius: 5px;
}

main {
  /* height of header */
  margin-top: 10vh;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: var(--hero-background);
  align-items: center;
}

.hero-img {
  order: 1;
  margin-top: 56px;
}

.hero-img img {
  width: 100%;
  max-width: 18rem;
  padding: 1rem;
  border: 1px solid var(--hero-textColor);
}

.hero-text {
  order: 2;
  margin: 28px 10%;
  color: var(--hero-textColor);
}

.hero-text h1 {
  font-size: 1.85rem;
  text-align: center;
}

.hero-text p {
  font-size: 1.4rem;
  margin-top: 28px;
  line-height: var(--default-lineHeight);
}

.hero-btn-container {
  margin: 1.8rem 0;
}

.hero-btn-container a {
  text-align: center;
  width: 45%;
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  border: 1px solid var(--hero-textColor);
  color: var(--hero-textColor);
  padding: 10px;
  font-weight: bold;
}

.hero-btn-container a:first-of-type {
  color: var(--hero-ctaColor);
  background-color: var(--hero-textColor);
}

.hero-btn-container a:last-of-type {
  border: 1px solid var(--hero-ctaColor);
  background-color: var(--hero-ctaColor);
  color: var(--hero-textColor);
  margin-left: 1.4rem;
}

small::before {
  content: '* ';
  vertical-align: baseline;
}

/* Book topics styles */

#book-topics {
  margin: 6rem 10%;
  color: var(--hero-background);
}

#book-topics > h2 {
  margin-bottom: 2.4rem;
  text-align: center;
}

.book-topics-text {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 1.4rem;
}

.book-topics-text p {
  line-height: var(--default-lineHeight);
  margin-top: 1.4rem;
}

.book-topics-text p span {
  font-weight: bold;
}

#book-topics img {
  max-width: 60%;
  padding: 10px;
  border: 1px solid var(--topics-bg);
  text-align: center;
}

#book-topics video {
  max-width: 100%;
  height: auto;
  margin-top: 2.6rem;
}

/* Styles for Form */

.form {
  margin: 6rem 10%;
  color: var(--hero-background);
}

.form h2 {
  margin-bottom: 2.4rem;
}

.form p {
  font-size: 1.4rem;
  line-height: var(--default-lineHeight);
  margin-bottom: 2.6rem;
}

.form input {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.form input[type='email'] {
  border: none;
  border-bottom: 1px solid var(--hero-ctaColor);
  min-width: 246px;
  max-width: 90%;
  margin-bottom: 2.8rem;
  padding: 1rem;
  outline: none;
}

.form input[type='submit'] {
  padding: 10px;
  font-size: 1.4rem;
  border: none;
  outline: none;
  background-color: var(--hero-ctaColor);
  color: var(--hero-textColor);
  padding: 10px;
  font-weight: bold;
}

/* Testimonial styles */

#testimonials {
  margin: 6rem 10%;
  color: var(--hero-background);
}

#testimonials h2 {
  margin-bottom: 2.4rem;
}

.testimony {
  text-align: center;
  font-size: 1.4rem;
  line-height: var(--default-lineHeight);
  margin-bottom: 3.4rem;
}

span.reader {
  display: block;
  font-weight: bold;
}

.about-author {
  background-color: var(--hero-background);
  color: var(--hero-textColor);
  border: 0.1px solid transparent;
}

.author-info-container {
  margin: 6rem 10%;
  border: 1px solid transparent;
  text-align: center;
}

.author-info-container h2 {
  margin-top: 28px;
  margin-bottom: 36px;
}

.author-image img {
  display: block;
  margin: 0 auto;
  max-width: 180px;
  padding: 1rem;
  border: 1px solid var(--hero-textColor);
}

.author-text {
  margin: 3rem auto;
  font-size: 1.4rem;
  line-height: var(--default-lineHeight);
}

.bold {
  font-weight: bold;
}

footer {
  height: 12vh;
  background-color: var(--topics-bg);
}

.social-links {
  text-decoration: underline;
}

.social {
  display: inline-block;
  border: none;
  width: 28px;
  height: 28px;
  margin: 10px;
}
